#js--region-sidebar-additional-content { display: none; }
#js--friends-widget { display: none; }
.bubble-bar__label { display: none; }
.bubble-bar__list { display: none; }
.site-sidebar__actions { display: none; }
